<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Coin Roll Hunting Terminology</title>
		<link rel="icon"
      type="image/png"
      href="http://www.quinscoins.com/favicon.ico">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
  <body>
    <div class="wrap">
      <h1>Coin Roll Hunting Terminology</h1>
			<div class="boxed">
        {% for term in terms %}
          <p><b>{{term['term']}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div>
			<p><a href="/", alt="Back to Home">Back to Home</a></p>
      <br><br><p>&copy;2018 Quinlan Productions LLC All Rights Reserved</p>
    </div>
  </body>
</html>
