body {
	margin: 0px;
}
.header {
  overflow: hidden;
  position: fixed;
	top: 0px;
	display: flex;
	width: 100%;
	margin: auto;
  font-size: 25px;
	height: 50px;
  background-color: green;
  z-index: 10;
  font-weight: bold;
	overflow: hidden;
	white-space: pre-line;
}
.header a {
  position: relative;
  top: 5px;
  color: white;
  text-decoration: none;
  padding: 5px;
	width: 100%;
	overflow: hidden;
}
.home-content {
	margin: 70px auto;
}
.combo {
	display: flex;
	width: 60%;
	margin: auto;
	padding: 10px;
}
.combo a {
	width: 100%;
}
.wrap {
	max-width: 500px;
	margin: auto;
}
.box {
	max-width: 450px;
	margin: auto;
  border: 5px solid grey ;
}
.boxed {
  border: 5px solid green ;
	text-align: center;
	margin: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.menu-items {
		text-align: center;
		display: flex;
		justify-content: space-between;
		max-width: 450px;
		margin: auto;
}
.menu-item {
	display: inline-block;
	border: 3px solid green;
	font-size: 16pt;
	padding: 2px;
}
h1 {
    text-align: center;
}
h2 {
	  text-align: center;
}
p {
  text-align: center;
}
table {
  text-align: center;
}
tr {
  text-align: center;
}
td {
  text-align: center;
}
input {
  text-align: center;
}
span {
  text-align: center;
}
img {
  text-align: center;
}
form {
	text-align: center;
}
a {
	text-align: center;
}
li a {
    text-align: center;
}
