<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Quin's Coins About Section</title>
		<link rel="icon"
      type="image/png"
      href="https://www.quinscoins.com/favicon.ico">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
  <body>
		<div class="header">
			<a href="/">Home</a>
      <a href="/#shop">Shop</a>
      <a href="/gear.html">My&nbspGear</a>
      <a href="/about.html">About</a>
		</div>
    <div class="wrap">
			<div class="home-content">
	      <h1>About</h1>
				<div class="boxed">
	        <p><img src="/static/images/ryan_profile.jpg", alt="Ryan Profile Picture", style="text-align:left;width:300px;height:300px;"></p>
					<p><b>Ryan Quinlan</b></p>
					<div class="box">
					  <p>Ryan Quinlan is a student at the University of Michigan studying computer science and business. He is better known
						   online as Quin, the creator of the "Quin's Coins" YouTube channel. His channel is dedicated to coin collecting and
						   modern day treasure hunting and he posts new videos every Saturday at 12PM EST.</p>
					</div><br>
					<p><img src="/static/images/kevin_profile.jpeg", alt="Kevin Profile Picture", style="text-align:left;width:300px;height:300px;"></p>
					<p><b>Kevin Quinlan</b></p>
					<div class="box">
					  <p>Kevin Quinlan is the brother of Ryan Quinlan. On a day to day basis, Kevin studies in the field of numismatics
							 by purchasing and selling rare coins. Most of this activity occurs on his Instagram account which can be found
							 <b><a href="https://bit.ly/2Hnrs8x">here</a></b>. He strongly believes in the value of reading coin related literature
							 in order to build a foundation for numismatic success and maximum enjoyment in the hobby.</p>
					</div><br/>
				</div>
			</div>
			<p>&copy;2018 Quinlan Productions LLC All Rights Reserved</p>
    </div>
  </body>
</html>
