<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Quin's Coins Coin Quest Results</title>
		<link rel="icon"
      type="image/png"
      href="https://www.quinscoins.com/favicon.ico">
    <style type="text/css">
        body, html{
          margin: 0; padding: 0; height: 100%; width: 710px; overflow: hidden;
        }
        #content {
          position:absolute; left: 22%; right: 22%; bottom: 5%; top: 0px; margin: 70px auto;
        }
    </style>
    <link rel="stylesheet" href="/static/css/styles.css">
	</head>
  <body>
		<div class="header">
			<a href="/">Home</a>
      <a href="/#shop">Shop</a>
      <a href="/gear.html">My&nbspGear</a>
      <a href="/about.html">About</a>
		</div>
		<div id="content">
	    <h1>Coin Quest Nickels Results (8 boxes)</h1>
      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRpUy86q0S0lS_n_zjPNaieMct8cy7PiJ69T0bsJTBkDKFcDK6kXT91yLy1H1NToUwST-Z27AxhjB8n/pubhtml?gid=491265397&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="100%" frameborder="0"></iframe>
		</div>
		<!--<p>&copy;2018 Quinlan Productions LLC All Rights Reserved</p>-->
  </body>
</html>
