<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Quin's Coins Gear and Supplies</title>
		<link rel="icon"
      type="image/png"
      href="https://www.quinscoins.com/favicon.ico">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
  <body>
		<div class="header">
			<a href="/">Home</a>
      <a href="/#shop">Shop</a>
      <a href="/gear.html">My&nbspGear</a>
      <a href="/about.html">About</a>
		</div>
    <div class="wrap">
			<div class="home-content">
	      <h1>My Gear and Supplies</h1>
				<p><b>Coin Roll Hunting Supplies</b></p>

				<!--pennies dansco short link: https://amzn.to/2StsTEH-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B008RM31YA&asins=B008RM31YA&linkId=32697d87021d2e70d3c4369ddabd67bc&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
	    	</iframe>

				<!--nickels dansco short link: https://amzn.to/2VhW3sj-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B009K4XQLM&asins=B009K4XQLM&linkId=672c6e8816500e6f4b2bc795d32c92e7&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--red book short link: https://amzn.to/2Rj6soF-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=0794845711&asins=0794845711&linkId=2028b5fa3481a32cf649a137575687b5&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--cherry pickers volume I short link: https://amzn.to/2LJ6rVS-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=0794843182&asins=0794843182&linkId=2189692fea8b60182305e9241206166c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--cherry pickers volume II short link: https://amzn.to/2Soz0Kw-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=0794843182&asins=0794843182&linkId=af0d26b6cbe4af863417c5475daeae23&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--penny tubes short link: https://amzn.to/2VjpM3Z-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B00RY28XYC&asins=B00RY28XYC&linkId=dfad313dce108466502416efb8c38cea&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--nickel tubes short link: https://amzn.to/2LDfLuj-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B000PGP56S&asins=B000PGP56S&linkId=624addd5353f48fb3889540ebf0a55df&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--white gloves short link: https://amzn.to/2BKDK69-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B01N113OVG&asins=B01N113OVG&linkId=b24714873f751cff6b23e02257568180&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--<li><a href="https://bit.ly/2DxHZ8s">Canadian Cent Album</a></li>-->
				<br><br>

				<p><b>Technical Gear</b></p>

				<!--microscope short link: https://amzn.to/2Sqkz8U-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B00XNYXQHE&asins=B00XNYXQHE&linkId=e205812ba64fd0966897c8a1f8e62780&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--moment wide lens short link: https://amzn.to/2Al0vxQ-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B07DYTWW54&asins=B07DYTWW54&linkId=bd38198486789b1c9f7b53a58f300c96&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--gorillapod short link: https://amzn.to/2Sz1S2E-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B000KFRSG4&asins=B000KFRSG4&linkId=306ed71be75484d5974d3332b0b622be&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--iphone tripod short link: https://amzn.to/2Sup2r6-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B07CQVBZZS&asins=B07CQVBZZS&linkId=42df123016e335a46668a2441c0626d0&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--C920 webcam short link: https://amzn.to/2RiTwiz-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B006JH8T3S&asins=B006JH8T3S&linkId=5779f8fa31b78ffb47efa3fe2ec9cbdb&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--canon eos t2i short link: https://amzn.to/2StXims-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B0035FZJHQ&asins=B0035FZJHQ&linkId=d917709d3254536d3753a617cfc28407&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--camera lens short link: https://amzn.to/2Sp4hwU-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B009P6BXR4&asins=B009P6BXR4&linkId=c57e2d5ae7f792600927c8d764de3f4a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>

				<!--rode mic short link: https://amzn.to/2VjQ4Dd-->
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=quinscoins-20&marketplace=amazon&region=US&placement=B00YAZHRZM&asins=B00YAZHRZM&linkId=aac28581e11dc305928f92096071f0a2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	    	</iframe>
			</div>
			<p>&copy;2023 Quinlan Productions LLC All Rights Reserved</p>
    </div>
  </body>
</html>
