<!DOCTYPE html>
<html lang="en">

	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85059338-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-85059338-2');
    </script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-31HFLQMR4D"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-31HFLQMR4D');
	</script>

	<title>Quin's Coins Home Page</title>
	<link rel="icon"
        type="image/png"
        href="https://www.quinscoins.com/favicon.ico">
	<link rel="stylesheet" href="static/css/styles.css">
	</head>
	<body>
		<div class="header">
			<a href="/">Home</a>
			<a href="/#shop">Shop</a>
			<a href="/gear.html">My&nbspGear</a>
			<a href="/about.html">About</a>
		</div>
		<div class="wrap">
			<div class="home-content">
				<h1><b>Welcome to the Official</b></h1>
				<img src="/static/images/logo.png", alt="Quin's Coins Logo", style="text-align:left;width:400px;height:90px;", class="center">
				<a name="shop">
				<h1><b>Website!</b></h1>
			</div>
			<h3 style="color:red">NOTE: placemat orders placed after December 12th may not arrive until after Christmas</h3><br/><br/><br/>
			<div class="boxed">
				<h1><b>Quin's Coins Hat</b></h1>
				<h2 style="color:red;">NEW!</h2>
				<a href="/static/images/hat.jpg"><img src="/static/images/hat.jpg", alt="Quin's Coins Hat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="DCCAS9VHYG5MA">
					<table align="center">
					<tr><td><input type="hidden" name="on0" value="Select Quantity">Select Quantity</td></tr><tr><td><select name="os0">
						<option value="Buy 1 Quin's Coins Hat">Buy 1 Quin's Coins Hat $25.00 USD</option>
						<option value="Buy 2 Quin's Coins Hats">Buy 2 Quin's Coins Hats $50.00 USD</option>
					</select> </td></tr>
					</table>
					<input type="hidden" name="currency_code" value="USD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>

				<!--<h1><b>Quin's Coins Laminated<br/>
				Coin Roll Hunting Placemats</b></h1>-->
				<h1 style="text-align:center">Silver Stacking Placemat</h1>
				<a href="/static/images/placemats/silver_front.JPEG"><img src="/static/images/placemats/silver_front.JPEG", alt="front of silver stacking placemat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>
				<a href="/static/images/placemats/silver_back.JPEG"><img src="/static/images/placemats/silver_back.JPEG", alt="back of silver stacking placemat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="ZNH68JVSALYSW">
					<table align="center">
					<tr><td><input type="hidden" name="on0" value="Select Quantity">Select Quantity</td></tr><tr><td><select name="os0">
						<option value="Buy 1 Silver Stacking Placemat">Buy 1 Silver Stacking Placemat $15.00 USD</option>
						<option value="Buy 2 Silver Stacking Placemats">Buy 2 Silver Stacking Placemats $25.00 USD</option>
					</select> </td></tr>
					</table>
					<input type="hidden" name="currency_code" value="USD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				<!--<h3 style="color:red">SOLD OUT (MORE AVAILABLE SOON)</h3>-->

				<h1 style="text-align:center">Nickel Placemat</h1>
				<a href="/static/images/placemats/nickel_front.JPEG"><img src="/static/images/placemats/nickel_front.JPEG", alt="front of nickel placemat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>
				<a href="/static/images/placemats/nickel_back.JPEG"><img src="/static/images/placemats/nickel_back.JPEG", alt="back of nickel placemat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="8FNR4AS5PJ8EN">
						<table align="center">
								<tr><td><input type="hidden" name="on0" value="Select Quantity">Select Quantity</td></tr><tr><td><select name="os0">
										<option value="Buy 1 Nickel Placemat">Buy 1 Nickel Placemat $15.00 USD</option>
										<option value="Buy 2 Nickel Placemats">Buy 2 Nickel Placemats $25.00 USD</option>
								</select> </td></tr>
						</table>
						<input type="hidden" name="currency_code" value="USD">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				<h1 style="text-align:center">Small Cent Placemat</h1>
				<a href="/static/images/placemats/penny_front.JPEG"><img src="/static/images/placemats/penny_front.JPEG", alt="front of penny placemat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>
				<a href="/static/images/placemats/penny_back.JPEG"><img src="/static/images/placemats/penny_back.JPEG", alt="back of penny placemat", style="text-align:left;width:400px;height:300px;", class="center"></a><br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="WNRQ82NTMDXWY">
						<table align="center">
								<tr><td><input type="hidden" name="on0" value="Select Quantity">Select Quantity</td></tr><tr><td><select name="os0">
										<option value="Buy 1 Small Cent Placemat">Buy 1 Small Cent Placemat $15.00 USD</option>
										<option value="Buy 2 Small Cent Placemats">Buy 2 Small Cent Placemats $25.00 USD</option>
								</select> </td></tr>
						</table>
						<input type="hidden" name="currency_code" value="USD">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>


				<h1 style="text-align:center;color:red;">Make it a Combo!</h1>
				<h3 style="text-align:center;">Order 1 Small Cent Placemat, 1 Nickel Placemat,<br/>
				and 1 Silver Stacking Placemat for only $40!</h3>
				<div class="combo" style="align-items: center;">
						<a href="/static/images/placemats/penny_front.JPEG" style="display:inline"><img src="/static/images/placemats/penny_front.JPEG", alt="front of penny placemat", style="text-align:left;width:100px;height:75px;padding:5px", class="center"></a><br>
						<b>+</b>
						<a href="/static/images/placemats/nickel_front.JPEG" style="display:inline"><img src="/static/images/placemats/nickel_front.JPEG", alt="front of nickel placemat", style="text-align:left;width:100px;height:75px;padding:5px", class="center"></a><br>
						<b>+</b>
						<a href="/static/images/placemats/silver_front.JPEG" style="display:inline"><img src="/static/images/placemats/silver_front.JPEG", alt="front of silver stacking placemat", style="text-align:left;width:100px;height:75px;padding:5px", class="center"></a><br>
				</div>
				<!--
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="BPNYEALYWUPFL">
						<table align="center">
								<tr><td><input type="hidden" name="on0" value="Select Item"></td></tr><tr><td><select name="os0">
										<option value="1 Small Cent + 1 Nickel Placemat">1 Small Cent + 1 Nickel Placemat $25.00 USD</option>
								</select> </td></tr>
						</table>
						<input type="hidden" name="currency_code" value="USD">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				-->
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="MF64NHAXVSZ7G">
					<table align="center">
					<tr><td><input type="hidden" name="on0" value="Select Item">Select Item</td></tr><tr><td><select name="os0">
						<option value="1 Small Cent + 1 Nickel + 1 Silver Stacking Placemat">1 Small Cent + 1 Nickel + 1 Silver Stacking Placemat $40.00 USD</option>
					</select> </td></tr>
					</table>
					<input type="hidden" name="currency_code" value="USD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				<!--<h3 style="color:red">SOLD OUT (MORE AVAILABLE SOON)</h3>-->
				<br/>
			</div>
			<br>
			<div class="boxed">
		    <span><p><b>Order Information</b></p></span>
				<p>
			  	Shipping to USA &amp Canada only <br>
					Free Shipping! <br>
					Orders are shipped out once a week on Tuesday evenings<br><br>
					Have a question about your order? Send me an email at QuinsCoins@gmail.com<br>
				</p>
			</div>
			<br><br><p>&copy;2022 Quinlan Productions LLC All Rights Reserved</p>
		</div>
	</body>
</html>
