<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Coin Roll Hunting Terminology</title>
		<link rel="icon"
      type="image/png"
      href="http://www.quinscoins.com/favicon.ico">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
  <body>
    <div class="wrap">
      <h1>Coin Roll Hunting Terminology</h1>
			<p><b>
				Jump to a Category:
				<a href="/terms/#crh">CRH</a> |
				<a href="/terms/#cents">Cents</a> |
				<a href="/terms/#nickels">Nickels</a> |
				<a href="/terms/#dimes">Dimes</a> |
				<a href="/terms/#quarters">Quarters</a> |
				<a href="/terms/#halves">Halves</a> |
				<a href="/terms/#dollars">Dollars</a>
			</b></p>

		  <div id="reactFeedEntry">Loading Search Bar ...</div>
			<script type="text/javascript" src="/static/js/bundle.js"></script><br>

			<a name="crh">
			<div class="boxed">
				<b><p>Coin Roll Hunting- General</p></b>
        {% for term in crh_terms %}
          <p><b>
						{{term['term']|title}}
						{% if term['acronym'] != '' %}
						  ({{term['acronym']|upper}})
						{% endif %}
					-</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<a name="cents">
			<div class="boxed">
				<b><p>Cents</p></b>
				{% for term in cent_terms %}
          <p><b>{{term['term']|title}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<a name="nickels">
			<div class="boxed">
				<b><p>Nickels</p></b>
				{% for term in nickel_terms %}
          <p><b>{{term['term']|title}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<a name="dimes">
			<div class="boxed">
				<b><p>Dimes</p></b>
				{% for term in dime_terms %}
          <p><b>{{term['term']|title}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<a name="quarters">
			<div class="boxed">
				<b><p>Quarters</p></b>
				{% for term in quarter_terms %}
          <p><b>{{term['term']|title}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<a name="halves">
			<div class="boxed">
				<b><p>Halves</p></b>
				{% for term in half_terms %}
          <p><b>{{term['term']|title}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<a name="dollars">
			<div class="boxed">
				<b><p>Dollars</p></b>
				{% for term in dollar_terms %}
          <p><b>{{term['term']|title}}:</b> {{term['definition']}}</p>
        {% endfor %}
			</div><br>
			<p><a href="/", alt="Back to Home">Back to Home</a></p>
      <br><br><p>&copy;2018 Quinlan Productions LLC All Rights Reserved</p>
    </div>
  </body>
</html>
